header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 1rem 0;
}

header a {
  color: #464646;
  border-bottom: 3px solid transparent;
  padding: 3.7rem 1rem;
  cursor: pointer;
}

header a:hover {
  color: #0282F9;
  border-bottom: 3px solid #0282F9;
}

header ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

header .active {
  border-color: #0282F9;
  color: #0282F9;
}

header .logo {
  width: 5%;
}

.jumbo {
  height: 350px;
}

.jumbo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

main {
  background-color: #1C1C1C;
  color: #ffffff;
}

main .comics-list-container {
  width: 80%;
  margin: auto;
  padding: 25px 0;
  text-align: center;
}

main .comics-list-container .comics-section-title {
  padding: 15px 20px;
  position: relative;
  top: -55px;
  right: 42%;
}

main .comics-list-container .comics-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .comics-list-container .comics-card {
  width: calc(16.6666666667% - 30px);
  height: 25vh;
  margin: 40px 15px;
}

main .comics-list-container .comics-card a {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
}

main .comics-list-container .comics-card a img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  height: 100%;
}

main .comics-list-container .comics-card a img:hover {
  filter: brightness(70%);
}

main .comics-list-container .comics-card a img:hover .comics-card a span {
  display: inline-block;
}

main .comics-list-container .comics-card a span {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 3px #1C1C1C;
}

main .comics-list-container .button {
  padding: 15px 50px;
  margin-top: 5rem;
  margin-bottom: 1rem;
  text-align: center;
}

main .comics-list-container .button:hover {
  border-radius: 10px;
  transition: all 0.2s linear 0.1s;
  color: #0282F9;
  background-color: #ffffff;
}

main .comics-list-container .comics-card {
  width: calc(16.6666666667% - 20px);
  height: 25vh;
  margin: 40px 0px;
}

main .comics-list-container .comics-card a {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
}

main .comics-list-container .comics-card a img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  height: 100%;
}

main .comics-list-container .comics-card a img:hover {
  filter: brightness(50%);
  transition: all 0.2s linear 0.1s;
  border-radius: 10px;
}

main .comics-list-container .comics-card a img:hover .price {
  display: inline-block;
}

main .comics-list-container .comics-card a .price {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 3px #1C1C1C;
}

main .comics-list-container .comics-card h3 {
  font-size: 1.1rem;
  padding: 10px 0;
}

.container-comics {
  width: 100%;
  padding: 70px 0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.container-comics ul {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.container-comics ul li {
  display: flex;
  flex-wrap: nowrap;
}

.container-comics ul li img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.container-comics ul li h3 {
  color: #ffffff;
  line-height: 40px;
}

.container-comics ul li h3:hover {
  transition: all 0.3s linear 0.1s;
  color: #797979;
  text-decoration: underline;
}

footer {
  background-color: #464646;
}

footer .footer-top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url("/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer .footer-top .sec-title {
  color: #ffffff;
  text-transform: uppercase;
}

footer .footer-top a {
  color: #797979;
  display: block;
  padding: 2px 0;
}

footer .footer-top h3 {
  color: #ffffff;
  padding: 10px 0;
}

footer .footer-top img {
  width: 15%;
}

footer .footer-low {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0;
  margin: auto;
  width: 80%;
}

footer .footer-low a.button {
  padding: 10px 15px;
  border: 3px solid #0282F9;
  color: #ffffff;
  text-transform: uppercase;
}

footer .footer-low a.button:hover {
  color: #0282F9;
  border-color: #ffffff;
  transition: all 0.5s linear 0.1s;
}

footer .footer-low h2 {
  text-transform: uppercase;
  color: #0282F9;
}

footer .footer-low .link {
  width: 80%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

ul,
a {
  list-style-type: none;
  text-decoration: none;
}

.brand-style {
  color: #ffffff;
  background-color: #0282F9;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
}

