header {
    @include flex-center('vertical');
    @include justify('space_between');
    width: 80%;
    margin: 0 auto;
    background-color: $light_color;
    padding: 1rem 0;

    a {
        color: $alt_dark_color;
        border-bottom: 3px solid transparent;
        padding: 3.7rem 1rem;
        cursor: pointer;

        &:hover {
            color: $brand_color;
            border-bottom: 3px solid $brand_color;
        }
    }

    ul {
        @include flex-center('vertical');
        @include justify('space_between');
    }

    .active {
        border-color:$brand_color;
        color: $brand_color;
    }

    .logo {
        width: 5%;
    }
}
